#greeting{
    height: 90px;
    width: 590px;
    background-color: rgb(207, 223, 217);
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    position: absolute;
    left: 595px;
    text-align: center;
    border-radius: 30px;
}

body{
    background-color: rgb(10, 123, 199);
}

#box{
    height:900px;
    width:600px;
    background-color: #333333;
    position: absolute;
    top: 50px;
    left:600px;
    border-radius: 20px;
    font-weight: bold;
}

#lol{
    position: absolute;
    top: 80px;
    left:625px;
    background-color: #949494;
    height:250px;
    width:550px;
    font-size: 40px;
}

#bt1{
    position: absolute;
    top: 350px;
    left:625px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt2{
    position: absolute;
    top: 350px;
    left:750px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt3{
    position: absolute;
    top: 350px;
    left:875px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt4{
    position: absolute;
    top: 475px;
    left:625px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt5{
    position: absolute;
    top: 475px;
    left:750px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt6{
    position: absolute;
    top: 475px;
    left:875px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt7{
    position: absolute;
    top: 600px;
    left: 625px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt8{
    position: absolute;
    top: 600px;
    left:750px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt9{
    position: absolute;
    top: 600px;
    left:875px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#bt0{
    position: absolute;
    top: 725px;
    left:625px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#btdot{
    position: absolute;
    top: 725px;
    left:750px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#btenter{
    position: absolute;
    top: 725px;
    left:875px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#btplus{
    position: absolute;
    top: 350px;
    left: 1000px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#btminus{
    position: absolute;
    top: 475px;
    left:1000px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#btmul{
    position: absolute;
    top: 600px;
    left:1000px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#btdivide{
    position: absolute;
    top: 725px;
    left:1000px;
    height: 100px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}

#btac{
    position: absolute;
    top: 850px;
    left:625px;
    height: 70px;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 30px;
}